* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

:root {
    --re-light: #fff;
    --re-dark: rgba(50, 50, 51, 1);
    --re-first: rgba(1, 132, 252, 1);
    --re-first-light: rgba(181, 220, 254, 1);
    --re-second: rgba(150, 146, 229, 1);
    --re-attention: rgba(253, 192, 94, 1);
}

* {
    font-family: 'PT Sans', sans-serif;
}

p,
a {
    font-weight: 400;
    text-decoration: none;
}

/* #region Common CSS */

.col-l-4 {
    width: calc(100%/12 * 4 - 1rem);
}

.col-l-5 {
    width: calc(100%/12*5 - 1rem);
}

.col-l-8 {
    width: calc(100%/12 * 8 - 1rem);
}

.btn-blue {
    padding: 0.5rem 1rem;
    background-color: var(--re-first);
    border-radius: 25px;
    width: 75%;
}

.btn-blue a {
    display: flex;
}

.btn-blue i,
.btn-blue p {
    color: var(--re-light);
}

/* #endregion Common CSS */

/* #region Utility CSS */
.spacer-10{
    height: 10rem;
}
.spacer-5{
    height: 5rem;
}
.d-flex {
    display: flex;
}
.d-flex-start{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.d-flex-end{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.w-80 {
    max-width: 1152px;
    width: 80%;
    margin: 0 auto;
}

.p-1 {
    padding: 1rem;
}

.py-2 {
    padding: 2rem 0;
}


/* #endregion Utility CSS */

/* #region header */
.nav-mobile {
    display: none;
}

header {
    background-color: var(--re-first);
    padding: 0.5rem 0;
}

nav.d-flex {
    justify-content: space-between;
    align-items: center;
}

.nav-pc li {
    list-style-type: none;
    padding: 0.5rem 0.8rem;
}

.nav-pc li>a {
    color: var(--re-light);
    text-transform: capitalize;
    text-align: center;
}

.nav-pc li:last-child {
    background-color: var(--re-light);
    border-radius: 20px;
}

.nav-pc li:last-child a {
    color: var(--re-dark);
    text-align: center;

}

/* #endregion header */

/* #region main */
/* #region jumbo */

.jumbotron {
    max-width: 1152px;
    width: 80%;
    margin: 0 auto;
}

.jumbotron .row {
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.jumbotron .card:first-child>.card-header {
    padding: 1rem;
}

.jumbotron .card-header>h3,
.jumbotron .card-header>p,
.jumbotron .card-header .btn-blue {
    margin: 2rem 0;
}

.jumbotron .card:first-child>.card-content {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem 1rem 0;
}

.jumbotron .card:first-child>.card-content>img {
    width: 14rem;
}

.jumbotron .card {
    margin: 1rem 0.5rem;
    background-color: var(--re-first-light);
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jumbotron .card i {
    color: var(--re-first);
    font-size: 4rem;
}

.jumbotron .card:first-child i {
    color: var(--re-light);
    font-size: 1rem;
}

.jumbotron .card h3 {
    color: var(--re-first);
}

.jumbotron .card:first-child {
    flex-direction: row;
    align-items: end;
    padding-bottom: 0;
}

/* #endregion jumbo */

/* #region what */
.what {
    background-color: var(--re-second);
}

.what .row {
    justify-content: space-evenly;
}

.what img {
    width: 70%;
}

.what .col-l-4:first-child {
    color: var(--re-light);
}

.what .col-l-4:first-child img,
.what .col-l-4:first-child h3,
.what .col-l-4:first-child p{
    margin-bottom: 1.5rem;
}

.what .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--re-light);
    border-radius: 30px;
    text-align: center;
    padding: 2rem;
}

.what .card img,
.what .card h3{
    padding: 1rem 0;
}

.what .card p{
    margin-top: 1rem;
    font-style: italic;
}

.what .card>.icon{
    margin-top: 1rem;
    background-color: var(--re-second);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.what .card>.icon>i{
    color: var(--re-light);
    line-height: 3rem;
    font-size: 1.5rem;
}
.what .card{
    margin-top: 13rem;
}

/* #endregion what */

/* #region testimonials */
.testimonials .title{
    text-align: center;
    padding: 2rem 0;
}
.testimonials .title h4{
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem 0;
}

.testimonials .title h2{
    color: var(--re-second);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.testimonials .card{
    background-color: var(--re-second);
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 0.5rem;
    border-radius: 30px;
    margin: 2rem 0;
}
.testimonials .card-photo{
    width: 15%;
    aspect-ratio: 1;
}
.testimonials .card-photo>img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials .card-content{
    color: var(--re-light);
    padding: 2rem;
}

.testimonials .card-content h4{
    text-transform: uppercase;
    padding-top: 1rem;
}


/* #endregion testimonials */



/* #endregion main */

/* #region footer */

/* #endregion footer */


/* #region MOBILE */

@media screen and (max-width:480px) {
    /* #region Utility CSS */

    .col-s-12 {
        width: calc(100%/12 * 12);
        margin: 0 auto;
    }

    /* #endregion Utility CSS */

    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .nav-mobile>i {
        color: var(--re-light);
    }

    .testimonials .card{
        flex-direction: column;
    }

    .testimonials .card-photo {
        width: 50%;
        aspect-ratio: 1;
    }

}

/* #region TABLET */

@media screen and (max-width:768px) {

    /* #region Utility CSS */
    .col-m-12 {
        width: calc(100%/12 * 12);
        margin: 0 auto;
    }

    /* #endregion Utility CSS */

    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .nav-mobile>i {
        color: var(--re-light);
    }


    .jumbotron .row {
        flex-direction: column;
    }

    .jumbotron .card:first-child {
        flex-direction: column;
    }

    .what .row{
        flex-direction: column;
    }

    .what .card{
        margin-top: 1rem;
    }

    .testimonials .card-photo {
        width: 70%;
        aspect-ratio: 1;
    }
}